<div class="container mt-5">
    <h2>Liste des Projets</h2>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary mb-3" (click)="createProject()">Créer un Nouveau Projet</button>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Description</th>
              <th>Debut</th>
              <th>Fin</th>
              <th>Créer</th>
              <th>Modifier</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            @for (project of projects; track project.id) {
              <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.startDate }}</td>
                <td>{{ project.endDate }}</td>
                <td>{{ project.createdAt }}</td>
                <td>{{ project.updatedAt }}</td>
                <td class="text-end">
                  <button class="btn btn-secondary me-2" (click)="editProject(project)">Modifier</button>
                  <button class="btn btn-danger mr-2" (click)="deleteProject(project.id)">Supprimer</button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
