<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Accueil</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/projects']" routerLinkActive="router-link-active" >Projet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tasks']" >Tache</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/categories']">Catégorie</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
          <button class="btn btn-primary" type="submit">Rechercher</button>
        </form>
      </div>
    </div>
</nav>
<router-outlet />


